* {
	box-sizing: border-box;
}

body {
	font-family: 'Sono', sans-serif;
	font-size: 18px;
	text-align: left;
	background-color: #0d1117;
	color: #c7d0d9;
}

h1 {
	font-size: 42px;
	color: #3091ff;
}

a {
	color: #1498FF;
}

.container {
	position: relative;
	width: 70%;
	height: auto;
}

.centerImage {
	position: absolute;
	width: 100%;
	height: auto;
	object-fit: cover;
	border: 2px solid black;
}

.left,
.right {
	cursor: pointer;
	position: absolute;
	top: 350px;
	width: 40px;
	opacity: 0.4;
}

.left {
	left: 10px;
}

.right {
	right: 10px;
}

.left:hover,
.right:hover {
	opacity: 0.6;
}
